

*{

}


html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: smokegrey;
}

h1,
h2,
h3 {
    color: rgb(15, 59, 148);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 3rem;
    margin-top: .5rem;
}

* {
    box-sizing: border-box;
}

/* Custom classes */
.rp-empty-table-text {
    color: #6c757d;
    font-size: 1.2rem;

}

.container {

    margin-top: 2rem;
    align-self: center;
    display: flex;
    flex-direction: row;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}


.rp-customer-summary {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

.rp-monthly-rewards-margin {
    margin-left: 5rem;
    margin-right: 5rem;
}

/*.header{
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}*/

.section{
    display:flex;
    flex-direction: column;
}

.table .rp-thead th {
    color: rgb(15, 59, 148);
    font-size: 1.2rem;
}

.table .rp-tbody td {
    font-size: 1.2rem;
}

.rp-btn-primary {
    color: #fff;
    font-size: .8rem;
    background-color: rgb(15, 59, 148);
    border-color: rgb(15, 59, 148);
}

.rp-btn-primary:hover {
    color: #fff;
    background-color: rgb(15, 59, 148);
    border-color: rgb(15, 59, 148);
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 4rem;
    }

    .rp-empty-table-text {
        font-size: 1.5rem;
    }

    .table .rp-thead th {
        font-size: 1.5rem;
    }

    .table .rp-tbody td {
        font-size: 1.5rem;
    }

    .rp-btn-primary {
        font-size: 1rem;
    }
}






